html {
  height: 100%;
  width: 100%;
  color-scheme: var(--color-scheme);
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

#root {
  height: 100%;
  width: 100%;
}